:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #070807;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
h1 {
  text-align: center;
  border-bottom: 1px solid var(--very-light-pink);
}
.container_vision{
  padding: 20px;
  display: inline-block;
}
.vision{
  text-align: center;
  color: #C7C7C7;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
}
.product-card {
  width: 240px;
}
.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.product-info figure {
  margin: 0;
}
.product-info figure img {
  width: 35px;
  height: 35px;
}
.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}
p  {
  line-height: 1.5rem; 
}

.form {
  display:grid;
  grid-template-columns: auto;
  background-color: var(--very-light-pink);
  max-width: 400px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.input[type="submit"] {
  background-color: #444b4d;
  color: white;
  padding: 10;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input[type="submit"]:hover {
  background-color: #09444f;
}



@media (max-width: 640px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .product-card {
    width: 140px;
  }
  .product-card img {
    width: 140px;
    height: 140px;
  }
}